extends layout

block content
  h1= title
  form(action="/create", method="post")
    if workouts[0]
      input(type="text", name="type", placeholder="type", value="#{workouts[0].type}")
      input(type="text", name="reps", placeholder="reps", value="#{workouts[0].reps}")
      input(type="text", name="weight", placeholder="weight", value="#{workouts[0].weight}")
      input(type="submit", value="submit")
    else
      input(type="text", name="type", placeholder="type" )
      input(type="text", name="reps", placeholder="reps")
      input(type="text", name="weight", placeholder="weight")
      input(type="submit", value="submit")
  br
  for workout in workouts
    a(href='/destroy/#{workout.id}') x
    li #{workout.type} at #{workout.weight} | #{workout.reps} reps | #{moment().format('MM/DD/YY')}

