mixin list(workouts)
  - each workout in workouts
    .workout
      a(href='/plot/#{workout.type}', title="Data Plot")
        div.type #{workout.type}
      a(href='/edit/#{workout._id}', title="Edit Entry")
        div.weight #{workout.weight}
        div.reps #{workout.reps}
        div.date #{moment(workout.created).zone(workout.offset).calendar()}
      a.close(href='/destroy/#{workout.id}', title="Delete Entry") x

mixin form(workout)
  div.form_section
    label(for="type") Lift Type
    input(type="text", onClick="this.select()", name="type", id="type", value="#{workout.type}", placeholder="#{workout.type}", role="textbox")
  div.form_section
    label(for="weight") Amount of Weight
    input(type="number", onClick="this.select()", step="5", name="weight", id="weight", value="#{workout.weight}", placeholder="#{workout.weight}", role="input")
  div.form_section
    label(for="reps") Number of Reps
    input(type="number", onClick="this.select()", name="reps", id="reps", value="#{workout.reps}", placeholder="#{workout.reps}", role="input")
  input(type="hidden", id="hiddenbox", name="offset")
  input(type="submit", value="Submit", role="button")
  script.
    document.getElementById("hiddenbox").value= new Date().getTimezoneOffset();
